<!DOCTYPE html>
<html>
<head>
    <title>Orlando OS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sun">
    ☀️
    <h1>ORLANDO OS</h1>
</div>

<div class="planet school">🎓 School</div>
<div class="planet coding">💻 Coding</div>
<div class="planet career">💼 Career</div>
<div class="planet money">💰 Money</div>
<div class="planet health">❤️ Health</div>
<div class="planet move">🏡 NJ Move</div>
<div class="planet projects">🚀 Projects</div>

</body>
</html>
